<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>TDDV Smart Garage</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" href="../static/assets/img/apple-touch-icon.png"
          rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/aos/aos.css}" href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"
          href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}"
          href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}"
          href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}"
          href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" href="../static/assets/vendor/remixicon/remixicon.css"
          rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}"
          href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css" rel="stylesheet">


    <!-- =======================================================
    * Template Name: Gp - v4.7.0
    * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header th:fragment="navbar" id="header" class="fixed-top " style="background-color: black; opacity: 0.8">
    <div class="container d-flex align-items-center justify-content-lg-between">


        <a th:href="@{/}" class="logo me-auto me-lg-0"><img th:src="@{/assets/img/logo.png}"
                                                            src="../static/assets/img/logo.png" alt=""
                                                            class="img-fluid"></a>
        <!--      <h1 class="logo me-auto me-lg-0" style="alignment: left"><a href="index.html">TDDV<span>.</span></a></h1>-->
        <!-- Uncomment below if you prefer to use an image logo -->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li th:if="${isAuthenticated && currentUser != null && currentUser.getRole().getId() != 3}"><a
                        class="nav-link" th:href="@{/visits}">Visits</a></li>
                <li th:if="${isAuthenticated && currentUser != null && currentUser.getRole().getId() == 3}"><a
                        class="nav-link" th:href="@{/visits/customer}">My visits</a></li>

                <li th:if="${isAuthenticated && currentUser != null && currentUser.getRole().getId() != 3}"><a
                        class="nav-link" th:href="@{/vehicles}">Vehicles</a></li>
                <li th:if="${isAuthenticated}"><a class="nav-link" th:href="@{/services}">Services</a></li>
                <li th:if="${isAuthenticated && currentUser != null && currentUser.getRole().getId() != 3}"><a
                        class="nav-link " th:href="@{/customers}">Customers</a></li>
                <li th:if="${isAuthenticated}"><a class="nav-link" th:href="@{/employees}">Employees</a></li>
                <li th:if="${isAuthenticated && currentUser != null}"><a class="nav-link"
                                                                         th:href="@{/users/{id}(id=${currentUser.getId()})}">Profile</a>
                </li>
                <li><a class="nav-link" href="#contact">Denis & Tisho</a></li>
                <li th:if="${isAuthenticated && currentUser != null}"><a class="nav-link" th:href="@{/swagger-ui/}">Swagger</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <a th:if="${isAuthenticated == false}" th:href="@{/login}" class="get-started-btn">Log in</a>
        <a th:unless="${isAuthenticated == false}" th:href="@{/logout}" class="get-started-btn">Log out</a>

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-6 col-lg-8">
                <h1>FOR QUALITY REPAIR AT A FAIR PRICE<span>.</span></h1>
                <h2>The Shop You Can Trust</h2>
            </div>
        </div>

        <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="ri-settings-5-line"></i>
                    <h3><a href="">Engine Work</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="ri-contrast-drop-2-fill"></i>
                    <h3><a href="">Oil Change</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="ri-flashlight-line"></i>
                    <h3><a href="">Battery, Alternator, Starter</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="ri-windy-fill"></i>
                    <h3><a href="">A/C Repairs</a></h3>
                </div>
            </div>
            <div class="col-xl-2 col-md-4">
                <div class="icon-box">
                    <i class="ri-search-2-line"></i>
                    <h3><a href="">Diagnostics</a></h3>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">

            <div class="row no-gutters">
                <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"
                     data-aos="fade-right" data-aos-delay="100"></div>
                <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left"
                     data-aos-delay="100">
                    <div class="content d-flex flex-column justify-content-center">
                        <h3>Full Car Service, Repair & Maintenance</h3>
                        <p>
                            You may need a new bulb, full engine change, brakes, clutches, exhausts, or new tyres.
                            We can help with all mechanical repairs and servicing.
                            We offer exceptionally competitive prices for car servicing and ensure your car is serviced
                            in accordance to your manufacturers' guidelines.
                        </p>

                        <div class="row">

                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="ri-car-line"></i>
                                    <span class="currency-count" th:text="${vehiclesCount}">567</span>
                                    <p><strong>Maintained Vehicles</strong>
                                        We understand the importance of good customer service, with the majority of our
                                        work gained through positive word of mouth and repeat custom.
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="ri-shield-check-line"></i>
                                    <span class="currency-count" th:text="${visitsCount}">987</span>
                                    <p><strong>Completed Repairs</strong>
                                        When working on your car, we will clearly explain all the options available to
                                        you, along with our personal recommendations.</p>
                                </div>
                            </div>

                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <div class="currency-counter count-items">
                                        <i class="bi bi-emoji-smile"></i>
                                        <span class="currency-count" th:text="${customersCount}">123</span>
                                        <p><strong>Happy Clients</strong>
                                            We have worked hard to build a reputation for offering a trusted and value
                                            for money service to all our customers.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="ri-hammer-line"></i>
                                    <span class="currency-count" th:text="${servicesCount}">69</span>
                                    <p><strong>Offered Services</strong>
                                        always offer a quote upfront and always make sure we obtain your approval prior
                                        to any work being carried out.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End Counts Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Team</h2>
                <p>Check our Team</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                            <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Eva</h4>
                            <span>Chief Automotive Mechanic</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="member-img">
                            <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Silvia</h4>
                            <span>Senior Vehicle Technician</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="member-img">
                            <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Tracy</h4>
                            <span>Senior Vehicle Technician</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="400">
                        <div class="member-img">
                            <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Nina</h4>
                            <span>Senior Vehicle Technician</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title" style="margin-bottom: -50px">
                <h2>Contact</h2>
                <p>Contact Us</p>
            </div>


            <div class="row mt-5">

                <div>
                    <div class="info">
                        <div style="float: left; margin-right: 25%" class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>30 Krastyo Rakovski Str.</p>
                            <p>1729 Sofia, Bulgaria</p>
                        </div>

                        <div style="float: left; margin-right: 25%; margin-top: 0" class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>denislav.vuchkov@gmail.com</p>
                            <p>dimitrovtihomir7@gmail.com</p>
                        </div>

                        <div style="float: left; margin-top:  0" class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+359 884 638 333</p>
                            <p>+359 876 051 461</p>
                        </div>

                    </div>

                </div>

            </div>


            <div>
                <iframe style="border:solid; width: 100%; height: 300px;margin-top: 40px; color: #ffc451"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2934.5353309753727!2d23.377095115465387!3d42.65000987916847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa86940322e46b%3A0x9dcf2a89d173b821!2sTelerik%20Academy!5e0!3m2!1sen!2sbg!4v1650188534446!5m2!1sen!2sbg"
                        allowfullscreen></iframe>
            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:fragment="footer" id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3><i style="color: #ffc451" class="ri-user-3-fill"></i>
                            DENIS<span>.</span></h3>
                        <p>
                            <strong>Phone:</strong> +359 884 638 333<br>
                            <strong>Email:</strong> denislav.vuchkov@gmail.com<br>
                        </p>

                        <div class="social-links mt-3">
                            <a target="_blank" href="https://www.facebook.com/denislav.k.vuchkov/" class="facebook"><i
                                    class="bx bxl-facebook"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/in/denislav-vuchkov/" class="linkedin"><i
                                    class="bx bxl-linkedin"></i></a>
                            <a target="_blank" href="https://github.com/denislav-vuchkov" class="facebook"><i
                                    class="ri-github-fill"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6" style="margin-left: 16%; margin-right: 16%">
                    <div class="footer-info">
                        <h3><i style="color: #ffc451" class="ri-user-3-fill"></i>
                            TISHO<span>.</span></h3>
                        <p>
                            <strong>Phone:</strong> +359 876 051 461<br>
                            <strong>Email:</strong> dimitrovtihomir7@gmail.com<br>
                        </p>

                        <div class="social-links mt-3">
                            <a target="_blank" href="https://www.facebook.com/profile.php?id=100000635400906" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a target="_blank" href="https://www.linkedin.com/in/dare-to-dream/" class="linkedin"><i
                                    class="bx bxl-linkedin"></i></a>
                            <a target="_blank" href="https://gitlab.com/tddv" class="facebook"><i class="ri-gitlab-fill"></i></a>

                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>

                    <div><a href="/"><h4 style="float: left; color: #ffc451; margin-right: 5px"
                                         class="ri-home-4-line"></h4>
                        <p style="float: left; color: white">Home</p></a></div>
                    <br><br>
                    <div>
                        <a href="/swagger-ui/"><h4 style="float: left; color: #ffc451; margin-right: 5px"
                                                   class="ri-file-list-2-line"></h4>
                            <p style="float: left; color: white">Swagger</p></a></div>

                </div>


            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>TDDV</span></strong>. All Rights Reserved
        </div>
    </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/purecounter/purecounter.js}"
        src="../static/assets/vendor/purecounter/purecounter.js"></script>
<script th:src="@{/assets/vendor/aos/aos.js}" src="../static/assets/vendor/aos/aos.js"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"
        src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"
        src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"
        src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"
        src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"
        src="../static/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}" src="../static/assets/js/main.js"></script>

<script th:src="@{/assets/js/counter/jquery-2.1.4.min.js}"
        src="../static/assets/js/counter/jquery-2.1.4.min.js"></script>
<script th:src="@{/assets/js/counter/jquery.counterup.min.js}"
        src="../static/assets/js/counter/jquery.counterup.min.js"></script>
<script th:src="@{/assets/js/counter/waypoints.min.js}" src="../static/assets/js/counter/waypoints.min.js"></script>
<script th:src="@{/assets/js/counter/counter.js}" src="../static/assets/js/counter/counter.js"></script>

</body>
</html>