<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title th:text="'Visit ' + ${visit.getId()}">Visit</title>

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" href="../static/assets/img/favicon.png" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" href="../static/assets/img/apple-touch-icon.png"
          rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/aos/aos.css}" href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"
          href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}"
          href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}"
          href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}"
          href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" href="../static/assets/vendor/remixicon/remixicon.css"
          rel="stylesheet">
    <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}"
          href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" href="../static/assets/css/style.css" rel="stylesheet">

    <!--Date Picker-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
          integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css"
          integrity="sha512-TQQ3J4WkE/rwojNFo6OJdyu6G8Xe9z8rMrlF9y7xpFbQfW5g8aSWcygCQ4vqRiJqFsDsE1T6MoAOMJkFXlrI9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- For multiple select -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>

    <style>
        .image-preview {
            width: 300px;
            min-height: 100px;
            border: 2px solid lightgrey;
            margin-top: 15px;

            /*For the default text*/
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            color: lightgrey;
        }

        .image-preview__image {
            display: none;
            width: 100%;
        }

        img {
            max-width: 350px;
            max-height: 350px;
        }

    </style>

</head>

<body class="user-page"
      style="background-image: url('https://res.cloudinary.com/tddvjavaforum/image/upload/v1650391559/SmartGarage/cars/Cool-Car-Backgraund_vectorized_yqbhnp.png')">

<nav th:replace="index.html :: navbar"></nav>

<div class="container-for-user" style="margin-top: -4%">
    <div class="d-flex justify-content-center h-100">
        <div class="card-for-user">
            <div class="card-header">

                <div class="card-body" style="width: 110%">

                    <div>

                        <div th:if="${currentUser.getId() != visit.getUser().getId()}">

                            <h3 style="text-align: center; margin-bottom: 25px">User</h3>

                            <div class="input-group form-group" style="width: 60%; margin-left: 20%">
                                <div class="input-group-prepend">
                                    <span style="width: 80px" class="input-group-text">User:</span>
                                </div>
                                <input type="text" class="form-control"
                                       th:value="${visit.getUser().getUsername()}"
                                       style="color: white;background-color: rgba(0,0,0,0.5);" disabled>
                            </div>

                            <div class="input-group form-group" style="width: 60%; margin-left: 20%;">
                                <div class="input-group-prepend">
                                    <span style="width: 80px" class="input-group-text">Email:</span>
                                </div>
                                <input type="text" class="form-control"
                                       th:value="${visit.getUser().getEmail()}"
                                       style="color: white;background-color: rgba(0,0,0,0.5);" disabled>
                            </div>

                            <div class="input-group form-group"
                                 style="width: 60%; margin-left: 20%; margin-bottom: 40px">
                                <div class="input-group-prepend">
                                    <span style="width: 80px" class="input-group-text">Phone:</span>
                                </div>
                                <input type="text" class="form-control"
                                       th:value="${visit.getUser().getPhoneNumber()}"
                                       style="color: white;background-color: rgba(0,0,0,0.5);" disabled>
                            </div>

                            <hr style="color:white; border: solid ; opacity: 20%; margin-bottom: 25px; width: 80%; margin-left: 9%">

                        </div>

                        <h3 style="text-align: center; ">Visit Details</h3>
                        <br>

                        <div class="input-group form-group" style="width: 60%; margin-left: 20%">
                            <div class="input-group-prepend">
                                <span style="width: 80px" class="input-group-text">Plate:</span>
                            </div>

                            <input th:value="${visit.getVehicle().getLicense()}"
                                   style="color: white;background-color: rgba(0,0,0,0.5)" type="text"
                                   class="form-control" disabled>
                        </div>

                        <div class="input-group form-group" style="width: 60%; margin-left: 20%">
                            <div class="input-group-prepend">
                                <span style="width: 80px" class="input-group-text">VIN:</span>
                            </div>
                            <input th:value="${visit.getVehicle().getVIN()}"
                                   style="color: white;background-color: rgba(0,0,0,0.5)" type="text"
                                   class="form-control" disabled>
                        </div>

                        <div class="input-group form-group" style="width: 60%; margin-left: 20%">
                            <div class="input-group-prepend">
                                <span style="width: 80px" class="input-group-text">Make:</span>
                            </div>
                            <input th:value="${visit.getVehicle().getModel().getMake().getName()}"
                                   style="color: white;background-color: rgba(0,0,0,0.5)" type="text"
                                   class="form-control" disabled>
                        </div>

                        <div class="input-group form-group" style="width: 60%; margin-left: 20%">
                            <div class="input-group-prepend">
                                <span style="width: 80px" class="input-group-text">Model:</span>
                            </div>
                            <input th:value="${visit.getVehicle().getModel().getName()}"
                                   style="color: white;background-color: rgba(0,0,0,0.5)" type="text"
                                   class="form-control" disabled>
                        </div>

                        <div class="input-group form-group" style="width: 60%; margin-left: 20%">
                            <div class="input-group-prepend">
                                <span style="width: 80px" class="input-group-text">Year:</span>
                            </div>
                            <input th:value="${visit.getVehicle().getYear()}"
                                   style="color: white;background-color: rgba(0,0,0,0.5)" type="text"
                                   class="form-control" disabled>
                        </div>

                        <div class="input-group form-group" style="width: 60%; margin-left: 20%">
                            <div class="input-group-prepend">
                                <span style="width: 80px" class="input-group-text">From:</span>
                            </div>
                            <input th:value="${visit.getFormattedStartDate()}"
                                   style="color: white;background-color: rgba(0,0,0,0.5)" type="text"
                                   class="form-control" disabled>
                        </div>

                        <div class="input-group form-group" style="width: 60%; margin-left: 20%">
                            <div class="input-group-prepend">
                                <span style="width: 80px" class="input-group-text">To:</span>
                            </div>
                            <input th:value="${visit.getFormattedEndDate()}"
                                   style="color: white;background-color: rgba(0,0,0,0.5)" type="text"
                                   class="form-control" disabled>
                        </div>

                        <div class="input-group form-group" style="width: 60%; margin-left: 20%">
                            <div class="input-group-prepend">
                                <span style="width: 80px" class="input-group-text">Status:</span>
                            </div>
                            <input th:value="${visit.getStatus().getName()}"
                                   style="color: white;background-color: rgba(0,0,0,0.5)"
                                   type="text" class="form-control" disabled>
                        </div>


                        <hr style="color:white; border: solid ; opacity: 20%; margin-bottom: 25px; width: 80%; margin-left: 9%">

                        <h3 style="text-align: center; ">Services</h3>
                        <br>

                        <div class="input-group form-group" style="width: 60%; margin-left: 20%"
                             th:each=" service : ${visit.displayServices()}">
                            <div class="input-group-prepend">
                                <span style="width: 80px" class="input-group-text"><h3
                                        style="margin-left: 10px; margin-top: -10px; margin-bottom: -12px; color: black"
                                        class="ri-tools-fill"></h3>
</span>
                            </div>
                            <input th:value="${service.getServiceName() + ' - ' + service.getServicePriceBGN() + '.00 BGN'}"
                                   style="color: white;background-color: rgba(0,0,0,0.5)" type="text"
                                   class="form-control" disabled>
                        </div>

                        <div class="input-group form-group" style="width: 60%; margin-left: 20%">
                            <div class="input-group-prepend">
                                <span style="width: 80px" class="input-group-text">Total:</span>
                            </div>
                            <input th:value="${visit.getTotalCost() + '.00 BGN'}"
                                   style="color: white;background-color: rgba(0,0,0,0.5)"
                                   type="text" class="form-control" disabled>
                        </div>


                        <hr style="color:white; border: solid ; opacity: 20%; margin-bottom: 25px; width: 80%; margin-left: 9%">

                        <h3 style="text-align: center; ">Generate report</h3>

                        <br>

                        <form class="form-detail" th:action="@{/visits/generate-report}" method="post">
                            <div class="form-row-total" style="visibility: hidden; display: none">
                                <div class="form-row">
                                    <label style="margin-bottom: 5px">Select visit/s</label>
                                    <select required th:name="selectedVisits"
                                            data-placeholder="Begin typing a visit id to filter..."
                                            multiple class="chosen-select"
                                            name="test" style="width: 100%">
                                        <option selected th:value="${visit.getId()}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-row-total" style="margin-bottom: 25px">
                                <div class="form-row" style="align-content: center; text-align: center">
                                    <h5 style="margin-left: 35%; color: white">Select a currency</h5>
                                    <select th:name="selectedCurrency" class="form-select"
                                            aria-label="Default select example"
                                            style="background-color: rgba(0,0,0,0.5); color: white; margin-bottom: 10px; width: 60%; margin-left: 20%">
                                        <option th:each="currency : ${currencies}"
                                                th:value="${currency.name()}"
                                                th:text="${currency.name()}"
                                                style="background-color: rgba(0,0,0,0.5) !important;">
                                        </option>
                                    </select>
                                </div>
                                <div class="form-row-last" style="margin-top: -20px">
                                    <button type="submit" class="btn btn-outline-light btn-lg"
                                            style="margin-left: 37%">
                                        Generate
                                    </button>
                                </div>
                            </div>
                        </form>


                        <hr style="color:white; border: solid ; opacity: 20%; margin-bottom: 25px; width: 80%; margin-left: 9%">

                        <h3 style="text-align: center; margin-bottom: 25px">Photos</h3>

                        <div th:if="${visit.getPhotos() == null || visit.getPhotos().isEmpty()}">
                            <h4 style="text-align: center; margin-bottom: 25px; color: white">No photos available</h4>
                        </div>

                        <div th:each="photo : ${visit.getPhotos()}" class="row align-items-start"
                             style="margin-bottom: 45px; width: 40%">
                            <div style="margin-bottom: 0; margin-left: 115px">
                                <img th:src="${photo.getPhoto()}" style="border: solid #ffc451"
                                     src="https://res.cloudinary.com/tddvjavaforum/image/upload/v1649339932/SmartGarage/VisitPhotos/visitID-38/token-a7cfc61d-ae12-4c6a-97ad-4df2c81ca312.jpg">
                            </div>

                            <div th:if="${currentUser.getRole().getId() != 3}">
                                <a th:href="@{/visits/{id}/photos/{token}/delete(id=${visit.getId()}, token=${photo.getToken()})}">
                                    <button type="submit" class="btn btn-outline-danger btn-lg"
                                            style="margin-top: 20px; margin-left: 115px;width: 350px">Delete
                                    </button>
                                </a>
                            </div>

                        </div>


                        <div style="padding-bottom: 100px; margin-left: 3.5%" class="w3-cell-row"
                             th:if="${currentUser.getRole().getId() != 3}">

                            <hr style="color:white; border: solid ; opacity: 20%; width: 80%; margin-left: 9%">

                            <form class="formBox" id="form" enctype="multipart/form-data" style="margin: 0"
                                  th:action="@{/visits/{id}/photos(id=${photoDTO.getVisitId()})}"
                                  th:object="${photoDTO}" method="post">

                                <h3 style="margin-left: 120px; margin-bottom: 30px; width: 500px">Upload a new
                                    image</h3>

                                <input type="number" th:field="*{visitId}" name="inpFile"
                                       style="visibility: hidden; display: none">

                                <input required type="file" multiple="multiple" th:field="*{photo}" name="inpFile"
                                       id="inpFile"
                                       style="padding-left: 115px; padding-top: 15px; color: white">

                                <div style="padding-left: 115px" class="w3-container w3-cell">
                                    <div class="image-preview" id="imagePreview">
                                        <img src="" alt="Image Preview" class="image-preview__image">
                                        <span class="image-preview__default-text">Image preview</span>

                                    </div>

                                </div>

                                <div class="w3-cell-row w3-cell">
                                    <button type="submit" class="btn btn-outline-light btn-lg" id="submit-button"
                                            style="margin-left: 92px;width:350px">Upload
                                    </button>
                                </div>

                            </form>

                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 120%">
        <footer th:replace="index.html :: footer"></footer>
    </div>
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script th:src="@{/assets/vendor/purecounter/purecounter.js}"
            src="../static/assets/vendor/purecounter/purecounter.js"></script>
    <script th:src="@{/assets/vendor/aos/aos.js}" src="../static/assets/vendor/aos/aos.js"></script>
    <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"
            src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"
            src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"
            src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"
            src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script th:src="@{/assets/vendor/php-email-form/validate.js}"
            src="../static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script th:src="@{/assets/js/main.js}" src="../static/assets/js/main.js"></script>

    <!--Script for Date Picker-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
            integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $('.input-group.date').datepicker({
            autoclose: true,
            todayHighlight: true
        });
    </script>

    <!--Script for multiple select-->
    <script>
        $(".chosen-select").chosen({
            no_results_text: "Oops, nothing found!"
        })
    </script>


    <script>
        const inpFile = document.getElementById("inpFile");
        const previewContainer = document.getElementById("imagePreview");
        const previewImage = previewContainer.querySelector(".image-preview__image");
        const previewDefaultText = previewContainer.querySelector(".image-preview__default-text");

        inpFile.addEventListener("change", function () {
            const file = this.files[0];

            if (file) {
                const reader = new FileReader();

                previewDefaultText.style.display = "none";
                previewImage.style.display = "block";

                reader.addEventListener("load", function () {
                    previewImage.setAttribute("src", this.result);
                })

                reader.readAsDataURL(file);

            } else {
                previewDefaultText.style.display = null;
                previewImage.style.display = null;
                previewImage.setAttribute("src", "");
            }

        })

    </script>

</body>
</html>